
.kanban-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 25px;
}
.js-kanban{
    width: 100%;
}

.kanban-board {
    position: relative;
    background: #f1f2f7;
    border: 1px solid #d5d5d5;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
    padding: 5px 0px;
    background-color: #F2F2F2 !important;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    width: 100%;
    height: 100%;
}

.kanban-board.is-moving.gu-mirror {
    transform: rotate(3deg)
}

.kanban-board.is-moving.gu-mirror .kanban-drag {
    overflow: hidden;
    padding-right: 50px
}

.kanban-board header {
    font-weight: 500;
    font-size: .938rem;
    padding: .75rem 1rem;
    color: #43476b;
    border-bottom: 2px solid rgba(0,0,0,0)
}

.kanban-board header .kanban-title-content {
    display: flex;
    align-items: center
}

.kanban-board header .kanban-title-content .title {
    font-weight: 600;
    margin: 0 .5rem 0 0;
    color: #43476b;
    font-size: .938rem
}

.kanban-board header .kanban-title-content .count {
    border: 1px solid #d2d4e4;
    display: inline-block;
    border-radius: .375rem;
    padding: .188rem .313rem;
    font-size: .688rem;
    font-weight: 600;
    line-height: 1;
    background: #48a59669;
}

.kanban-board header.kanban-primary {
    border-color: #5f38f9
}
.kanban-board header.kanban-success {
    border-color: #2dc58c
}
.kanban-board header.kanban-danger {
    border-color: #df3c4e
}
.kanban-board .kanban-drag {
    min-height: 200px;
    padding: 1rem 1rem
}

.kanban-item {
    background: #fff;
    padding: .75rem 1rem;
    margin-bottom: 20px;
    transition: all .3s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: .875rem !important;
    border-radius: .375rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.02)
}

.kanban-item-text:hover {
    cursor: move
}

.kanban-item:last-child {
    margin: 0
}

.kanban-item.is-moving.gu-mirror {
    transform: rotate(3deg);
    height: auto !important
}

.kanban-item-title .title {
    font-weight: 600;
    margin-bottom: .5rem;
    font-size: .938rem
}

.task-body{
    position: relative;
    top: 0;
    bottom: 0;
}

.todos-task-add{
    cursor: pointer;
}
.task-body ul.task-action {
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0px 1px 30px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 1px 30px -8px rgba(0,0,0,0.22);
    box-shadow: 0px 1px 30px -8px rgba(0,0,0,0.22);
}
.task-body ul.task-action li {
    background: transparent;
    padding: 0px;
    margin: 0px 6px;
    display: inline-block;
    width: auto;
}
.task-body:hover ul.task-action {
    visibility: visible;
    opacity: 1;
}

.task-body ul.task-action li a {
    font-size: 16px;
}
.task-body ul.task-action li button {
    border: none;
    padding: 0px;
    color: #2866E0;
    margin: 0px;
    font-size: 16px;
    background: transparent;
}

.task-schedule-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-direction: row;
}

#mdlTaskHistory .modal-dialog{
    position: fixed;
    right: 0;
    top: 25%;
    width: 70%;
}
#mdlTaskHistory .modal-body{
    min-height: 470px;
    overflow-x: auto;
}



.sidetask-board{
    margin-top: 1rem;
    border-right: 2px solid #00000042;
}

.taskhistory-board{
    margin-top:1rem;
}
.sidebar__block-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 1 auto;
    margin: 0 0 2px;
    color: #0B0E1F;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.sidebar__block {
    margin-bottom: 25px;
}
.sidebar__block-header, .sidebar__block-content {
    padding-left: 24px;
    padding-right: 24px;
}
.sidebar__block-header {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sidebar__block-content {
    color: #0B0E1F;
    font-size: 13px;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
}

.project-member{
    width: 30;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ecebeb;
}

.task-items img{
    height: 20px !important;
    border-radius: 50%;
    border: 1px solid #ecebeb;
}

.task-detail-items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: x;
    gap: 10px;
}
.task-detail-items .task-items{
    border: 1px solid #0000002e;
    border-radius: 20px;
    padding: 4px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    gap: 5px;
    position: relative;
}

.task-progress-action {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 6px;
    position: absolute;
    top: 27px;
    right: -50px;
    padding: 14px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    -webkit-box-shadow: 0px 1px 30px -8px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 1px 30px -8px rgba(0,0,0,0.22);
    box-shadow: 0px 1px 30px -8px rgba(0,0,0,0.22);
}

.task-progress-change:hover .task-progress-action {
    visibility: visible;
    opacity: 5;
}

.w-comment {
    display: flex;
    padding: 10px 5px;
    border-top: 1px solid #EDF1F4;
    background-color: #f5f4f400;
    font-family: "Open Sans",sans-serif;
}
.w-comment__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
    min-width: 36px;
}
.w-comment__details {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
}
.w-comment__details-author {
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    padding-top: 5px;
    color: #333;
}
.w-comment__details-author a {
    text-decoration: none;
    color: inherit;
}
.w-comment__details-content {
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
    min-width: 100px;
}
.h-typo-formatting {
    font-family: "Inter","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.7;
    color: #222;
    word-break: break-word;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
